// JS & nonJS

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 1.3em;
  cursor: default;
}

a{
  color: white;
}

a:hover{
  color: #808080;
}

// JS

canvas {
  border: 3px dotted white;
  background-color: black;
  position: fixed;
  top: calc((100vh - 400px) / 2);
  left: calc((100vw - 800px) / 2);
}

.scoreDiv {
  position: fixed;
  font-size: 4em;
  top: calc(50% - .5em);

  &.grayScore { // opponent score
    color: gray;
    right: 1em;
  }

  &.whiteScore { // player score
    left: 1em;
  }
}

body>div {
  display: none;
}

input {
  background-color: black;
  color: white;
  border: 1px dashed white;
  font-family: 'VT323', monospace;
  font-size: .9em;
  padding: .2em;
}

button {
  background-color: white;
  color: black;
  font-family: 'VT323', monospace;
  border: 1px dashed black;
  font-size: .9em;
  padding: .2em;
  margin: .5em;
}

#gameChoose table {
  border: 1px dashed white;
  border-collapse: collapse;
  position: fixed;
  top: calc((100vh - 400px) / 2);
  left: calc((100vw - 600px) / 2);

  td {
    border: 1px dashed white;
    width: 300px;
    height: 200px;
    cursor: pointer;
  }
}

// nonJS
noscript div {
  display: initial !important;
}

section#nojs{
  width: 60%;
  margin: 60px 20% 0;
}

section#nojs div#score{
  text-align: center;
}

#score table{
  display: inline-block;
  margin: 8px 15px;
  border-collapse: collapse;
  vertical-align: top;
}

#score td, #score th{
  border-top: 1px solid white;
  padding: 2px 6px 3px;
  text-align: left;
}

#score .gamename th{
  font-size: 1.1em;
  border: none;
  text-align: center;
}

#score .labels th{
  color: #808080;
  border-color: #808080;
}