// JS & nonJS
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 1.3em;
  cursor: default;
}

a {
  color: white;

  &:hover {
    color: #808080;
  }
}

#mobile-alert {
  display: none;
}

@media (max-width: 900px) {
  #mobile-alert {
    display: initial !important;
  }

  #game, #loading, #gameChoose, #login, #nojs {
    display: none !important;
  }
}
