// JS
canvas {
  border: 3px dotted white;
  background-color: black;
  position: fixed;
  top: calc((100vh - 400px) / 2);
  left: calc((100vw - 800px) / 2);
}

.nameDiv, .scoreDiv { // divs with name and score
  position: fixed;
  width: calc((100vw - 800px) / 2);
  text-align: center;
}

.gray {
  color: gray;
}

.scoreDiv { // div with score
  font-size: 4em;
  top: calc(50% - .5em);

  &.rightScore { // opponent score
    right: 0;
  }

  &.leftScore { // player score
    left: 0;
  }
}

.nameDiv { // div with name
  font-size: 2em;
  top: calc((100vh - 400px) / 2);

  &.rightName {
    right: 0;
  }

  &.leftName {
    left: 0;
  }
}

input {
  background-color: black;
  color: white;
  border: 1px dashed white;
  font-family: 'VT323', monospace;
  font-size: .9em;
  padding: .2em;
  text-align: center;
}

button {
  background-color: white;
  color: black;
  font-family: 'VT323', monospace;
  border: 1px dashed black;
  font-size: .9em;
  padding: .2em;
  margin: .5em;
}

#gameChoose, #game {
  h1 {
    padding-top: 1.25em;
  }
}

#gameChoose table {
  border: 1px dashed white;
  border-collapse: collapse;
  position: fixed;
  top: calc((100vh - 400px) / 2);
  left: calc((100vw - 300px) / 2);

  td {
    border: 1px dashed white;
    width: 300px;
    height: 200px;
    cursor: pointer;

    &.soon {
      color: #979797;
      cursor: default;
    }
  }
}

.vcen { // vertical align: center
  display: table;
  height: 100%;
  width: 100%;

  >div {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
}

body>div {
  display: none;
  &.vcen { // force vertically centered div to hide too
    display: none;
  }
}
